<!--templates/login.html-->
{% extends "default_template.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}

<body>
    <div style="margin-left: 2vh;">
        <h4>Please enter your credentials to login.</h4>
    </div>
    <form method="post" action="/login" style="margin-left: 2vh;">

        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username" value=""><br>
        <label for="password">Password: </label><br>
        <input type="text" id="password" name="password" value=""><br>
        <br>
        <input type="submit" name="submit" value="Login">
    </form>

    {% if error %}
    <p>{{error}}</p>
    {% endif %}
</body>
{% endblock %}