<!--templates/login.html-->
{% extends "default_template.html" %}

{% block banner_button %}

<body>
    <form method="post" action="/login">
        <label>Username: <input type="username" name="username" value=""></label><br>
        <label>Password: <input type="password" name="password" value=""></label><br>
        <br />
        <input type="submit" value="Login">
    </form>

    {% if error %}
    <p>{{error}}</p>
    {% endif %}
</body>
{% endblock %}




<!-- <DOCTYPE html>
    <html lang="en">

    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='PAG/style.css')}}">
    </head>

    <body>
        <form method="post" action="/login">
            <label>Username: <input type="username" name="username" value=""></label><br>
            <label>Password: <input type="password" name="password" value=""></label><br>
            <br />
            <input type="submit" value="Login">
        </form>

        {% if error %}
        <p>{{error}}</p>
        {% endif %}
    </body>

    </html> -->