<!--templates/login.html-->
{% extends "default_template.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}

<body>
    <div style="margin-left: 2vh;">
        <h4>Please enter your credentials to login.</h4>
    </div>
    <form method="post" action="/login" style="margin-left: 2vh;">
        <label>Username: <input type="username" name="username" value=""></label><br>
        <label>Password: <input type="password" name="password" value=""></label><br>
        <br />
        <input type="submit" name="submit" value="Login">
    </form>

    {% if error %}
    <p>{{error}}</p>
    {% endif %}
</body>
{% endblock %}