<!-- templates/regist.html -->

{% extends "default_template.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}


<body>
    <div style="margin-left: 2vh;">
        <h4>Please fill in the following to create a PAG profile.</h4>
    </div>

    <body>
        <div style="margin-left: 2vh;">
            <br>
            <form method="post" action='/register/pag'>
                <input style="width: 300px;" placeholder="Specify username?" type="text" name="username"
                    value=""><br></br>
                <input style="width: 300px;" placeholder="Specify a password." type="password" name="password"
                    value=""><br></br>
                <input style="width: 300px;" placeholder="What is your email?" type="email" name="email"
                    value=""><br></br>
                <input style="width: 300px;" placeholder="Specify a disease focus!" type="disease" name="disease"
                    value=""><br></br>
                <input type="submit" value="Register" style="width:10vh">
            </form>
        </div>


        {% if error %}
        <p>{{error}}</p>
        {% endif %}
    </body>

    {% endblock %}