<!-- templates/regist.html -->

{% extends "default_template.html" %}
{% block banner_button %}

<body>
    <p>Please fill in the following to create a PAG profile.</p>

    <body>
        <form method="post" action='/register/pag'>
            <label>Username:<input type="text" name="username" value=""></label></br>
            <label>Password:<input type="password" name="password" value=""></label></br>
            <label>Email:<input type="email" name="email" value=""></label></br>
            <label>Disease Focus:<input type="disease" name="disease" value=""></label></br>
            <input type="submit" value="Register">
        </form>

        {% if error %}
        <p>{{error}}</p>
        {% endif %}
    </body>
    {% endblock %}