<!-- templates/regist.html -->
{% extends "default_template.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}

<body>
    <div style="margin-left: 2vh;">
        <h4>Please fill in the following to create a patient profile.</h4>
    </div>
    <form method="post" action="/register/patient" style="margin-left: 2vh;">
        <input style="width: 300px;" placeholder=" Specify a username?" type="text" name="username" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify a password." type="password" name="password" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your email?" type="email" name="email" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your firstname?" type="firstname" name="firstname" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your lastname?" type="lastname" name="lastname" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify your address." type="address" name="address" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your age?" type="number" name="age" min="21" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify Gender: (male | female)" type="text" list="gender"
            name="gender" />
        <datalist id="gender">
            <option>male</option>
            <option>female</option>
        </datalist>
        <br></br>
        <input style="width: 300px;" placeholder="Specify your height in cm." type="number" name="height" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify your weight in kg." type="number" name="weight" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Blood type: ( A | B | AB | O )" type="text" list="bloodtype"
            name="bloodtype" />
        <datalist id="bloodtype">
            <option>A</option>
            <option>B</option>
            <option>AB</option>
            <option>O</option>
        </datalist>
        <br></br>
        <input type="submit" value="Register" style="width:10vh">
    </form>




    {% if error %}
    <p>{{error}}</p>
    {% endif %}
</body>
{% endblock %}