<!-- templates/regist.html -->
{% extends "default_template.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}

<body>
    <div style="margin-left: 2vh;">
        <h4>Please fill in the following to create a patient profile.</h4>
    </div>
    <form method="post" action="/register/patient" style="margin-left: 2vh;">
        <input style="width: 300px;" placeholder=" Specify a username?" type="text" name="username" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify a password." type="password" name="password" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your email?" type="email" name="email" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your firstname?" type="firstname" name="firstname" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your lastname?" type="lastname" name="lastname" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify your address." type="address" name="address" value="">
        <br></br>
        <input style="width: 300px;" placeholder="What is your age?" type="age" name="age" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Gender: (male | female)" type="gender" name="gender" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify your height in cm." type="height" name="height" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Specify your weight in kg." type="weight" name="weight" value="">
        <br></br>
        <input style="width: 300px;" placeholder="Blood type: ( A | B | AB | O )" type="bloodtype" name="bloodtype"
            value="">
        <br></br>
        <input type="submit" value="Register">
    </form>




    {% if error %}
    <p>{{error}}</p>
    {% endif %}
</body>
{% endblock %}