<!--templates/login.html-->
{% extends "default_template.html" %}
{% block sidebar %}

<body>
    <br>
    <br>
    <center>
        <form method="post" , action="/register">
            <input type="submit" name="choice" value="Register Patient" style="height:5vh; width:30vh"><br>
            <br>
            <input type="submit" name="choice" value="Register PAG" style="height:5vh; width:30vh"><br>
        </form>
    </center>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
</body>
{% endblock %}